<%= render 'layouts/nav'%>

	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	
	
	<div class="row">
		<div class="span4 offset2">
			<img src="holder.js/400x300/social">
		</div>
		<div class="span4">
			<img src="holder.js/400x300/social">
		</div>
	</div>
	<br />
	<div class="row">
		<div class="span8 offset2">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis volutpat risus, quis euismod purus varius et. Sed tristique sapien sit amet nulla molestie et hendrerit felis volutpat. Nam est odio, tempor id vehicula sit amet, iaculis et ligula. Donec tortor elit, tincidunt vitae adipiscing vitae, molestie vel metus. Suspendisse id nisl felis. Maecenas molestie hendrerit scelerisque. Donec fringilla laoreet blandit. Sed feugiat dignissim euismod. Sed eget mollis mauris.</p>
		</div>
	</div>
	
	<div class="row">
		<div class="span2 offset5">
			<h1 class="text-center"><%= link_to "Sign up", new_user_registration_path %></h1>
		</div>
	</div>