<%= render 'layouts/nav'%>

	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	
	<div class="row">
		<div class="span8 offset2">
			<h1 style="text-align: center">Swypd makes it easier than ever to secure and manage your stuff.</h1>
		</div>
	</div>
	<br />
	<br />
	<div class="row">
		<div class="span4 offset2">
			<img src="holder.js/400x300/social">
		</div>
		<div class="span4">
			<img src="holder.js/400x300/social">
		</div>
		
	</div>
	<br />
	<br />
	<div class="row">
		<div class="span8 offset2">
			<ul>
				<li><h3>Keep an inventory or your belongings</h3></li>
				<li><h3>Swypd tracks the serial numbers of your valuables</h3></li>
				<li><h3>Stolen items have a better chance of return</h3></li>
			</ul>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="span2 offset5">
			<h1 style="text-align: center"><%= link_to "Sign up", new_user_registration_path %></h1>
		</div>
	</div>